name: pypi_release

on:
  release:
    types: [published]

jobs:
  pypi_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - run: uv build
      - run: uv publish --token ${{ secrets.PYPI_TOKEN }}
