name: code_check

on:
  pull_request:
    branches: [main]

jobs:
  code_check:
    name: 'Test ${{ matrix.os }} ${{ matrix.python }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13']
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: install poetry
        run: |
          pip install poetry==1.7.1
          poetry config virtualenvs.in-project true
      - uses: actions/setup-python@v4
        with:
          python-version: '${{ matrix.python }}'
      - run: poetry install

      - run: poetry run flake8
      - run: poetry run pytest --cov=pydantic_sqlite/ --cov-report term-missing --cov-branch  --cov-report xml:coverage/coverage.xml

      - run: poetry run coverage xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
