name: code_check

on:
  push:
    branches: [main]

jobs:
  code_check:
    name: 'Run Test for Covergae in main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
      - run: uv sync

      - run: uv run pytest --cov=pydantic_sqlite/ --cov-report term-missing --cov-branch  --cov-report xml:coverage/coverage.xml

      - run: uv run coverage xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
